.account-card--profile {
  height: 220px;
}

.account-card__form {
  width: 100%;
  height: 100%;
  display: grid;
  grid: 45% repeat(2, 40px) 15% / 1fr;
}

.account-card__avatar {
  display: grid;
  padding: 0 10px;
  grid: 1fr / repeat(2, 1fr);
  transition: var(--transition-fast);
  border-bottom: 1px solid var(--co-neutral-170);
}

.account-card__avatar-img {
  width: 65px;
  height: 65px;
  place-self: center;
  border-radius: var(--radius-full);
  border: 2px solid var(--co-secondary-550);
}

.account-card__avatar-label {
  place-self: center;
  margin-bottom: 30px;
  grid-area: 1 / 2 / 2 / 3;
}

.account-card__avatar-button {
  margin-top: 30px;
  place-self: center;
  grid-area: 1 / 2 / 2 / 3;
  width: var(--btn-w-medium) !important;
}
.account-card__form-label {
  text-align: left;
  padding-left: 0.4rem;
}
.account-card__form-input {
  width: 120px !important;
}

.account-card__form-btn {
  justify-self: right;
  align-self: center;
  margin-right: 10px;
  margin-top: 5px;
}

@media screen and (width >= 768px) {
  .account-card--profile {
    height: 240px;
  }
  .account-card__form {
    grid: 40% repeat(2, 50px) 15% / 1fr;
  }

  .account-card__avatar-button {
    width: var(--btn-w-large) !important;
  }
  .account-card__form-input {
    width: 180px !important;
  }
  .account-card__form-label {
    padding-left: 0.6rem;
  }
}

@media screen and (width >= 1020px) {
  .account-card--profile {
    height: 310px !important;
  }
  .account-card__form {
    grid: 45% repeat(2, 50px) 15% / 1fr;
  }

  .account-card__avatar-img {
    width: 85px;
    height: 85px;
  }

  .account-card__avatar-label {
    margin-bottom: 40px;
    font-weight: var(--fw-bold);
  }

  .account-card__form-input {
    margin-right: 12px;
  }

  .account-card__form-label {
    padding-left: 12px;
  }

  .account-card__form-btn {
    margin-right: 22px;
    margin-top: 20px;
    width: var(--btn-w-ml) !important;
  }
}
