.account-card--password {
  height: 240px;
}

.account-card__body--password {
  height: 100%;
  display: flex;
  width: inherit;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.account-card__title--password {
  height: 40px;
  padding-top: 12px !important;
  margin-bottom: 0 !important;
}
.account-card__form--password {
  display: grid;
  align-items: center;
  justify-content: center;
  grid: repeat(4, 50px) / 1fr;
  width: 100%;
  text-align: center;
}
.account-card__form--password-box {
  height: 100%;
  width: 100%;
}
.account-card__form--password-input {
  width: 120px !important;
}
.account-card__form-label {
  width: 50px !important;
  text-align: left;
}
.account-card__form--password-btn {
  width: var(--btn-w-sm) !important;
}
@media screen and (width >= 768px) {
  .account-card--password {
    height: 260px;
  }

  .account-card__form--password-input {
    width: 140px !important;
  }
  .account-card__form-label {
    width: max-content !important;
  }
  .account-card__form--password-btn {
    width: var(--btn-w-md) !important;
  }
}
@media screen and (width >= 1020px) {
  .account-card--password {
    height: 270px;
    font-size: var(--fs-small);
  }

  .account-card__form--password-input {
    margin: 10px 15px;
    width: 200px !important;
  }
  .account-card__form--password-btn {
    width: var(--btn-w-ml) !important;
  }
}
