.auth__card--pwd {
  width: 280px !important;
  height: 280px !important;
}
.auth__logo--pwd {
  width: 130px;
  height: 45px;
  margin-top: 1.5rem;
}
.auth__form--pwd {
  padding: 0 !important;
  grid: repeat(3, 50px) / 1fr;
  height: 100%;
}
.auth__form-btn--pwd {
  width: var(--btn-w-medium) !important;
}
.auth__form-btn--pwd--reset {
  width: var(--btn-w-medium) !important;
}
@media screen and (width >= 768px) {
  .auth__logo--pwd {
    width: 185px;
    height: 60px;
    margin-top: 0.8rem;
  }
  .auth__form-btn--pwd {
    width: var(--btn-w-large) !important;
  }
}
