.nav {
  width: 100%;
  height: 70px;
  display: flex;
  overflow-x: hidden;
  align-items: center;
  padding: 2px 2rem;
  font-size: var(--fs-x-small);
  font-weight: var(--fw-regular);
  justify-content: space-between;
  background-color: var(--co-primary-800);
}

.nav__logo {
  width: 120px;
  height: 40px;
  transition: var(--transition-fast);
}
.nav__logo:hover {
  cursor: pointer;
}
.nav__account-btn {
  color: var(--co-neutral-100);
  font-size: inherit !important;
  width: var(--btn-w-medium) !important;
  transition: var(--transition-fast);
  height: var(--btn-h-medium) !important;
}

@media screen and (min-width: 768px) {
  .nav {
    padding-right: 4rem;
    font-size: var(--fs-small);
    font-weight: var(--fw-semiBold);
  }

  .nav__logo {
    width: 240px;
    height: 50px;
  }

  .nav__account-btn {
    width: var(--btn-w-large) !important;
    font-weight: var(--fw-bold) !important;
  }
}

@media screen and (min-width: 1020px) {
  .nav {
    padding-right: 12rem;
  }

  .nav__logo {
    width: 260px;
    height: 60px;
  }

  .nav__account-btn {
    font-size: var(--fs-sm) !important;
  }
}
